<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Restaurant <%= restaurant %> added successfully</p>
    <a href='/admin/write'><button>Add more?</button></a>
  </body>
</html>
